{% extends 'scratchr-shared/base.html' %}
{% load static %}

{# Who decided that you can only use a block once in Django? #}
{% block page-title %}{% block box-title %} Setting up the database {% endblock %}{% endblock %}

{% block content %}

<h3>Creating and updating the database</h3>
<p>You can get my database setup tool from <a href="{% static 'scratchr/db-updater.bat' %}">here</a>.</p>
<p>Open it, then press any key to continue.</p>

<h3>Setting up the access info</h3>
<p>Rename C:\XAMPP\htdocs\scratchr\app\config\database.php.default to database.php</p>
<p>Fill out the database access information. It should look like this:</p>
<br/>
var $default = array(<br/>
&emsp;'driver' => 'mysql',<br/>
&emsp;'persistent' => false,<br/>
&emsp;'host' => 'localhost',<br/>
&emsp;'login' => 'root',<br/>
&emsp;'password' => '',<br/>
&emsp;'database' => 'scratchr',<br/>
&emsp;'prefix' => '',<br/>
);</p>
<br/>

<p>The database is now set up!</p>
<h4>Now with all of this done, head to <a href="../settings/">Tweaking some settings</a></h4>
{% endblock content %}