{% extends 'scratchr-shared/base.html' %}
{% load static %}

{# Who decided that you can only use a block once in Django? #}
{% block page-title %}{% block box-title %} Downloading ScratchR {% endblock %}{% endblock %}

{% block content %}

<h3>Installing git</h3>
<p>First of all, let's navigate to the download page. The link for it will vary depending on your operating system. Note that this guide expects you to be on Windows.</p>

<ul>
	<li><a href="https://gitforwindows.org/">Windows 10+</a></li>
	<li><a href="https://github.com/git-for-windows/git/releases/tag/v2.46.2.windows.1">Windows 7+</a></li>
	<li><a href="https://git-scm.com/downloads/linux">Linux</a></li>
	<li><a href="https://git-scm.com/downloads/mac">macOS / Mac OS X</a></li>
</ul>

<p>Run the installer to install git</p>

<h3>Cloning ScratchR</h3>
<p>Navigate to C:\XAMPP\, then delete htdocs.</p>
<p>Next, open up CMD like with memcached, but this time, run this command:</p>
<br/><p>git svn clone https://subversion.assembla.com/svn/scratchr/</p><br/>
<p>In the next steps, if I mention anything under \app, it's inside C:\XAMPP\htdocs\scratchr\app</p>

<h4>Now with all of this done, head to <a href="../database/">Setting up the database</a></h4>
{% endblock content %}